<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3> Agregar usuario</h3>
        <%= form_tag(add_user_to_container_path, method: "post") do %>
            <div class="field">
              <%= label_tag :email %><br>
              <%= collection_select(:users, :user_id, User.where.not(id: container.users) , :id, :email,  {:class=>'form-control'}) %>
            </div>
            <%= hidden_field_tag "container_id",container.id %>
            <%= hidden_field_tag "stage_id", @stage.id %>
            <%= submit_tag("Agregar usuario") %>
        <% end %>

        <h3> Eliminar usuario</h3>
        <%= form_tag(remove_user_to_container_path, method: "post") do %>
            <div class="field">
              <%= label_tag :email %><br>
              <%= collection_select(:users_delete, :user_id, container.users, :id, :email,  {:class=>'form-control'}) %>
            </div>
            <%= hidden_field_tag "container_id",container.id %>
            <%= hidden_field_tag "stage_id", @stage.id %>
            <%= submit_tag("Eliminar usuario") %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() { $("#users_user_id").select2(); });
    $(document).ready(function() { $("#users_delete_user_id").select2(); });
</script>