<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/line" style = "padding-top: 7px;">
        <%= image_tag('/fullLogoFt.png',height: '32', width: '102') %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
        <li class="<%= active_class(line_index_path) %>"><%= link_to('Lista contenedores', line_index_path, method: :get) %></li>
        <li class="<%= active_class(line_data_path) %>"><%= link_to('Estadisticas', line_data_path(id: 2), method: :get) %></li>
            <% end %>
        <% if user_signed_in? %>
          <% if can? :edit, User %>
              <li class="<%= active_class(users_index_path) %>"><%= link_to('Administrar usuarios', users_index_path, method: :get) %> </li>
          <% end %>
          <li  class="dropdown <%= active_class(edit_user_registration_path) %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Editar cuenta", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <% if current_user %>
      <form class="navbar-form navbar-left" action="/line">
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Ej: 5655599556">
        </div>
        <button type="submit" class="btn btn-default">Buscar contenedor</button>
      </form>
          <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>