<div class="modal fade <%="subscribe_alert_modal_#{modal_counter}"%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notificar cuando</h4>
      </div>
      <div class="modal-body">
        <%=  form_for container, :url => user_subscribe_url(container_id: container.id, user_id: user_id, stage_id: @stage.id),method: "get"  do |f| %>
            <div class="form-check" style="margin-top: 30px;">
              <%= check_box_tag 'notifications[]', 'state', current_user.has_alert?('state',container.id, user_id)%>
              <label class="form-check-label" for="exampleCheck1">Pasar estado</label>
            </div>
            <div class="form-check" style="margin-top: 30px;">
                <%= check_box_tag 'notifications[]', 'alert', current_user.has_alert?('alert',container.id, user_id)%>
              <label class="form-check-label" for="exampleCheck1">Cambio de alerta</label>
            </div>
            <div class="form-check" style="margin-top: 30px;">
                <%= check_box_tag 'notifications[]', 'finish', current_user.has_alert?('finish',container.id, user_id)%>
              <label class="form-check-label" for="exampleCheck1">Fin proceso</label>
            </div>
            <%= f.submit 'Guardar cambios', :class => 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>