<div class="modal fade" id=<%="state_alert_edit_modal_#{modal_counter}"%> role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= state.name %></h4>
      </div>
      <div class = "row">
        <div class="col-md-6 col-md-offset-3 ">
          <h3>Estado actual de la alerta</h3>
          <div class="panel panel-default">
            <div style="text-align: center" class= "panel-body state-alert-<%= state.alert %>" >
              <%= state.alert %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class = "row">
          <div class="col-md-6 col-md-offset-3 ">
            <%= render partial: "states/form", :locals => {:state => state} %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
