<div class = "container">
  <h1><%= @stage.line.container.number %>- Informacion de la etapa </h1>
  <div>
    <a href="#Foo" class="btn btn-default" data-toggle="collapse">
      <i class="glyphicon glyphicon-book"></i>  Desplegar informacion de la etapa
    </a>
  </div>
  <div style="margin-top: 10px;margin-bottom: 10px;">
    <a href="#Users" class="btn btn-default" data-toggle="collapse">
      <i class="glyphicon glyphicon-user"></i>  Desplegar informacion de usuarios
    </a>
  </div>
  <div>
    <%= link_to stages_alerts_path(@stage), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-folder-open"></i> Ver historial de alertas
  <% end %>
  </div>
  <div id="Foo" class="collapse">
    <div class = "row">
      <div class = "col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><%= @stage.name %></h3>
            <% container = @stage.line.container %>
            <% if can? :edit, State %>
                <div class="btn-group pull-right">
                  <td>
                    <%= link_to  "www", class: "btn btn-primary" do %>
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    <%end %>
                  </td>
                  <td><%= link_to 'X', "www", class: "btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </div>
            <% end %>
          </div>
          <div class="panel-body">
            <div class = "well">
              <p>
                <%= @stage.description %>
              </p>
            </div>
            <div class = "row">
              <div class = "col-md-4">
                <p>
                  <strong>Numero actores: </strong> <%= @stage.n_actors %>
                </p>
                <p>
                  <strong>Numero procesos:</strong> <%= @stage.n_process %>
                </p>
              </div>

              <div class = "col-md-4">
                <p>
                  <strong>Numero actores: </strong> 5
                </p>
                <p>
                  <strong>Numero procesos:</strong> 5
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Users" class="collapse">
    <div class = "row">
      <div class = "col-md-6">
        <% modal_counter = 0 %>
        <% container.users.each do |user| %>
          <div class = "well">
            <div class = "row">
              <div class = "col-md-4">
                <%= user.email %>
              </div>
              <div class = "col-md-2">
                <%= button_tag(type: 'button', class: 'btn btn-primary', data: { toggle: 'modal', target: '.subscribe_alert_modal_'+modal_counter.to_s } ) do %>
                    <i class="glyphicon glyphicon-wrench"></i> Administrar notificaciones
                <% end %>
              </div>
              <div class = "col-md-6"></div>
            </div>
          </div>
          <%= render :partial => 'shared/subscribe_alerts_modal', :locals => {:container =>container, :user_id => user.id, :modal_counter => modal_counter} %>
          <% modal_counter += 1 %>
        <% end %>
      </div>
      <div class = "col-md-6"></div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-bottom: 20px;" data-target="#exampleModal">
      Agregar o eliminar usuarios
    </button>
    <%= render :partial => 'shared/add_user_modal', :locals => {:container =>container, @stage => @stage} %>
  </div>
  <h1> Flujo de la etapa</h1>
  <div class = "row" id = "upDiv">
    <div class = "col-md-10">
      <div class = "well">
        <% states = @stage.states %>
        <% modal_counter = 1 %>
        <% is_current_state = true %>
        <% states.each do |state| %>
          <div class="panel panel-default" style="margin-bottom: 0px;text-align:center;">
            <div class="panel-body goToState finish-<%=state.is_finish?(state.st_machine) %>"   id = "state-<%= modal_counter %>"  >
              <% if state.is_finish?(state.st_machine) %>
                <%= state.name %> <i class="glyphicon glyphicon-ok"></i>
              <% else %>
                  <% if is_current_state %>
                      <i class="glyphicon glyphicon-arrow-right"></i> <%= state.name %> <i class="glyphicon glyphicon-arrow-left"></i>
                      <% is_current_state = false %>
                  <% else %>
                      <%= state.name %>
                  <% end %>
              <% end %>
              <hr>
              <div class = "row">
                <div class = "col-md-4">
                  <label>inicio</label>
                  <% if state.get_init_date %>
                    <%= state.get_init_date.strftime("%Y-%m-%d  %T") %>
                  <% end %>
                </div>
                <div class = "col-md-4">
                  <label>Termino</label>
                  <% if state.get_end_date %>
                      <%= state.get_end_date.strftime("%Y-%m-%d  %T") %>
                  <% end %>
                </div>
                <div class = "col-md-4">
                  <label>Duración</label>
                  <% if state.get_state_duration %>
                      <%=state.get_state_duration %> Hrs
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% if state.name != states[-1].name %>
              <i style="display:block;text-align:center;margin-bottom: 3px" class="glyphicon glyphicon-arrow-down"></i>
          <% end %>
            <% modal_counter += 1 %>
        <%end %>
      </div>
    </div>
  </div>


  <h1> Estados </h1>
  <div class = "row">
    <% modal_counter = 1 %>
    <% @stage.states.each do |state| %>
        <div class = "col-md-4">
          <div class="panel panel-default" id = "state-<%=modal_counter%>-state" >
            <div class="panel-heading">
              <h3 class="panel-title"><%= state.name %></h3>
            </div>
            <div class = "row">
              <div class="col-md-8 col-md-offset-2 ">
                <h3>Estado actual </h3>
                <div class="panel panel-default">
                  <div style="text-align: center" class= "panel-body" >
                    <% if state.sub_state %>
                        <%= state.state_s(state.sub_state.to_s) %>
                    <% else %>
                      No definido
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class="col-md-8 col-md-offset-2 ">
                <h3>Alertas </h3>
                <div class="panel panel-default">
                  <div style="text-align: center" class= "panel-body" >
                    <i class="glyphicon glyphicon-certificate normal-gly safe-<%= state.alert %>"></i>
                    <i class="glyphicon glyphicon-certificate normal-gly warning-<%= state.alert %>"></i>
                    <i class="glyphicon glyphicon-certificate normal-gly danger-<%= state.alert %>"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body" >
              <p>
                <strong>Numero actores: </strong> <%= state.n_actors %>
              </p>
              <p>
                <strong>Numero procesos:</strong> <%= state.n_sub_process %>
              </p>
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target=<%="#sub_states_modal_#{modal_counter}"%>>
                <i class="glyphicon glyphicon-indent-left"></i>  Ver flujo
              </button>
              <% if can? :edit, State %>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#state_alert_edit_modal_#{modal_counter}"%>>Alertas</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#next_state_modal_#{modal_counter}"%>>
                    Siguente estado<i class="glyphicon glyphicon-share-alt"></i>
                  </button>
              <% end %>

                <%=button_tag(type: 'button', class: 'btn btn-default hidden-md hidden-lg go-up') do %>
                    <i class="glyphicon glyphicon-arrow-up"></i>Volver
                <% end %>


              <%= render :partial => 'sub_state_modal', :locals => {:state => state, :modal_counter => modal_counter} %>
              <%= render :partial => 'state_alert_modal', :locals => {:state => state, :modal_counter => modal_counter} %>
              <%= render :partial => 'states/next_state_modal', :locals => {:state => state, :modal_counter => modal_counter} %>

            </div>

          </div>
        </div>
        <% modal_counter += 1 %>
    <%end%>
    <div id = "goo"></div>
  </div>
</div>
<script>
    $(".goToState").click(function() {
        var divId = "#"+this.id+"-state";
        $('html').animate({
                scrollTop: $(divId).offset().top},
            'slow');
    });
    $(".go-up").click(function() {
        $('html').animate({
                scrollTop: $("#upDiv").offset().top},
            'slow');
    });
</script>