<div class = container>
  <h1><%= @line.container.number %> - Información de la linea </h1>
  <a href="#Foo" class="btn btn-default" data-toggle="collapse">Desplegar información de la linea</a>
  <div id="Foo" class="collapse">
    <div class = "row">
      <div class = "col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" style="padding-top: 7.5px;"><%= @line.name %></h3>
            <% if can? :edit, State %>
                <div class="btn-group pull-right">
                  <td>
                    <%= link_to  "www", class: "btn btn-primary" do %>
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    <%end %>
                  </td>
                  <td><%= link_to 'X', "www", class: "btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </div>
            <% end %>
          </div>
          <div class="panel-body">
            <div class = "well">
              <p>
                <%= @line.description %>
              </p>
            </div>
            <div class = "row">
              <div class = "col-md-4">
                <p>
                  <strong>Numero actores: </strong> <%= @line.n_actors %>
                </p>
                <p>
                  <strong>Numero Etapas:</strong> <%= @line.n_stages %>
                </p>
              </div>
              <div class = "col-md-4">
                <p>
                  <strong>Numero actores: </strong> 5
                </p>
                <p>
                  <strong>Numero procesos:</strong> 5
                </p>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Etapas de la linea</h1>
  <div class = "row">
    <% modal_counter = 1 %>
    <% @line.stages.each do |stage| %>
        <div class = "col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= stage.name %>
                <% if stage.is_stage_finish? %>
                    <i class="glyphicon glyphicon-ok"></i>
                <% end %>
              </h3>
            </div>
            <div class="panel-body">
              <div class = "well" >
                <%= truncate(stage.description, length: 250) %>
              </div>
              <p>
                <strong>Numero actores: </strong> <%= stage.n_actors %>
              </p>
              <p>
                <strong>Numero procesos:</strong> <%= stage.n_process %>
              </p>
            </div>
            <div class="panel-footer">
              <%= link_to 'Ver etapa', stage,  class: "btn btn-info" %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=<%="#states_flow_modal_#{modal_counter}"%>>Ver flujo</button>
            </div>
          </div>
        </div>
        <%= render :partial => 'states/show_states_flow_modal', :locals => {:stage => stage, :modal_counter => modal_counter} %>
        <% modal_counter += 1 %>
    <%end%>
  </div>
  <h1> Informacion del contenedor</h1>

  <%= render :partial => 'conatiner_info', :locals => {:@container => @line.container} %>

</div>